[submodule "tools/atf15xx_yosys"]
	path = tools/atf15xx_yosys
	url = git@github.com:hoglet67/atf15xx_yosys.git
[submodule "components/kicad-libraries/computie-kicad-library"]
	path = components/kicad-libraries/computie-kicad-library
	url = git@github.com:transistorfet/computie-kicad-library
